# JAVA
export JAVA_HOME=`/usr/libexec/java_home -v 1.7`

# rbenv
export RBENV_ROOT=/usr/local/var/rbenv

PATH=/usr/local/sbin:/usr/local/bin:$PATH

export EDITOR=vim

alias ls='ls -G'
alias ll='ls -l'
